.header { 
  background-color: #b350daca;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1rem;
  padding-top:1rem;
  margin-bottom: 1rem;
}
